:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Loader */

#loader_wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 999999999;
}

/* From Uiverse.io by Shoh2008 */
.loader {
  width: 45px;
  height: 40px;
  background: linear-gradient(
      #0000 calc(1 * 100% / 6),
      #fff 0 calc(3 * 100% / 6),
      #0000 0
    ),
    linear-gradient(
      #0000 calc(2 * 100% / 6),
      #fff 0 calc(4 * 100% / 6),
      #0000 0
    ),
    linear-gradient(
      #0000 calc(3 * 100% / 6),
      #fff 0 calc(5 * 100% / 6),
      #0000 0
    );
  background-size: 10px 400%;
  background-repeat: no-repeat;
  animation: matrix 1s infinite linear;
}

@keyframes matrix {
  0% {
    background-position: 0% 100%, 50% 100%, 100% 100%;
  }

  100% {
    background-position: 0% 0%, 50% 0%, 100% 0%;
  }
}

/* Estilos generales */

.main_frame {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  width: 100%;
  /* height: 100%; */
  z-index: 1000;
  top: 0;
}

h1 {
  font-size: 2rem;
}

dialog {
  width: 300px;
  height: 250px;
  max-width: 80%;
  max-height: 80%;
  background-color: black;
  position: absolute;
  z-index: 1000;
}

#guide_dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#close_button {
  align-self: self-end;
}

.guide_change {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button {
  padding: 0.5rem;
  margin: 0;
  height: fit-content;
  width: fit-content;
}

#open_button {
}

#renderer {
  max-width: 100%;
  margin: auto;
  position: absolute;
  left: 0;
}

/* Notificaciones */

.notifications {
  z-index: 9999999;
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  height: 150px;
  transition: all ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.score_notification {
  font-size: 2rem;
  font-weight: bold;
  animation: text;
  animation-duration: 3s;
}

/* The animation code */
@keyframes text {
  0% {
    font-size: 2rem;
    opacity: 1;
  }
  100% {
    font-size: 2.5rem;
    opacity: 0;
  }
}
